@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

:root {
    --primary-color: #3E505B;
    --secondary-color: #A2ABB5;
    --accent1-color: #C1666B;
    --accent2-color: #A5CC6B;

    --heading-font: 'Poppins', sans-serif;
    --paragraph-font: 'Source Sans Pro', serif;

    --nav-background-color: var(--primary-color);
    --nav-link_color:var(--accent2-color);
    --nav-hover-link-color:var(--accent2-color);
    --nav-hover-link-background-color:var(--primary-color)

}

h1{
    text-align: center;
    margin-top: 10%;
}

header {
    background-color: steelblue;
    display: flex;
    align-items: center;
}

header img{
    grid-column: 1/3;
}

nav {
    grid-column: 2/3;
    background-color: steelblue;
    padding:10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

.hero {
    margin: 1em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1em;
    background-color: #999;
    background-image: url('../images/background.jpg') no-repeat center center fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    color: #333;
    text-align: center;
    position: relative;
}

.hero h2 {
    position: absolute;
    text-align: center;
}

.hero img {
    display: block;
    width: 80%;
    margin-top: 10%;
    height: auto;
    float: right;

}

section {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

section h2 {
    text-align: center;
}

.raftpics {
    display: flex;
}

.info{
    text-align: center;
}

.img1 {
    float: start;
}

.img2 {
    float: left;
}

.img3 {
    float: center;
}

.img4 {
    float: right;
}

.img5 {
    float: end;
}

section img {
    max-width: 100%;
    height: auto;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
}

.raftImages2 {
    display: flex;
    justify-content: space-between;
}

figure {
    background-color: steelblue;
    border-color: #000;
    border-radius: 10px;
    border-width: 4px;
    max-width: 19%;
    max-height: auto;
    text-align: center;
}

figure img {
    max-width: 100%;
}

footer {
    position: relative;
}

article{
    display: flex;
    align-items: center;
    margin: auto;
}

article img{
    margin: auto;
    width: 100%;

}

figure{
    display: grid;
    margin: auto;
}

.bigBox {
    background-color: lightgray;
    display: block;
    text-align: center;
    width: 95%;
    height: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
}

.text{
    width: 80%;
}

textarea{
    width: 80%;
}

select{
    width: 80%;
}