@import url('https://fonts.googlrapis.com/css2?family=font-name&family = optional-2nd-font-name&display=swap');

:root {
    --primary-color: #3E505B;
    --secondary-color: #A2ABB5;
    --accent1-color: #C1666B;
    --accent2-color: #A5CC6B;

    --heading-font: 'Poppins', serif;
    --paragraph-font: 'Source Sans Pro', serif;

    --nav-background-color: var(--primary-color);
    --nav-link_color:var(--accent2-color);
    --nav-hover-link-color:var(--accent2-color);
    --nav-hover-link-background-color:var(--primary-color)

}

body {
    f____: var(--paragraph-font) ;
    m____: ____;
    p____: ____;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color:var(--primary-color)
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25 px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    
}

nav a {
    display: block;
    color: var(--nav-link_color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link_color)
}

nav a:hover {
    color: var(--nav-link_color)
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-link-background-color);
}